body {
    background-color: rgb(66, 188, 237);
}


/* Principal*/




/* */
#Box {
    width: 450px;
    height: 200px;
    background-color: rgb(72, 72, 243);
}
#miElemento {
    width: 450px;
    height: 150px;    
};