body {
    background-image: url(img/verde.jpg);
    
    background-size: cover;
}

.flex-container {
    display:flex;                                   /* Disposicion de los elementos Horizontalmente*/
    border: 1px solid blue;                        /* Border solido para el contenedor*/
    background-color: grey;                        /* Color de fondo*/
    padding: 20px;                                   /* separacion del borde y los elementos*/
}

.Box {
    border: 1px solid blue;                        /* Borde solido de 1px para cada elemento*/
    background-color: greenyellow;                 /* Color de fondo*/
    color: red;                                    /* Color del Texto*/
    font-family: 'Courier New', Courier, monospace;  /* Tipo de Familia del texto*/
    font-weight: bold;                               /* Grosor del Texto*/
    width: 120px;                                    /* Ancho de la Box por defecto*/    
    height: 120px;                                   /* Alto de la Box por defecto*/
    line-height: 120px;                              /* Altura o distancia a la linea de Texto*/
    text-align: center;                              /* Texto alineado al centro*/
    margin: 5px;                                     /* Margen a los 4 lados de la Box*/   
}

/*Usando justify-content*/

.flex-container1 {
    
}